*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #d2d2d2;
  font-family: sans-serif;
  font-size: 11px;
  line-height: .5em;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-weight: 400;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.restaurant-list {
  padding-top: 50px;
  width: 100%;
}

.content {
  padding: 12px;
  float: left;
  width: 90%;
  border-bottom: 1px solid grey;
}


.location:hover {
  background-color:#0070BC;
  } /* mouse over */

.arrow:hover {
    background-color:#0070BC;
    } /* mouse over */

.location:after {
     content: ".";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

.arrow:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    }

.arrow {
  float: right;
  padding: 18px;
  width: 10%;
  background-color: #d2d2d2;
  margin-top: 20px;
